---
import { Image } from "astro:assets";
import EventImgae from "@assets/images/Imageevent.png";
import Star from "@assets/svg/star.svg";
import SectionTitle from "./ui/SectionTitle.astro";
import PageButton from "./ui/PageButton.astro";
import PurpleLink from "./ui/PurpleLink.astro";
import Section from "./ui/Section.astro";
---

<Section>
  <article>
    <header
      class="flex flex-col gap-3 md:flex-row justify-between md:items-center">
      <SectionTitle title="SERVICES" heading="My Photography Services" />
      <div class="flex gap-6">
        <div class="border-2 p-2 w-fit rounded-[5rem] hidden md:flex gap-3">
          <button class="btn btn-circle">
            <svg
              width="12"
              height="20"
              viewBox="0 0 12 20"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M10.25 1.5L1.75 10L10.25 18.5"
                stroke="white"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
            </svg>
          </button>
          <button class="btn btn-circle">
            <svg
              width="12"
              height="20"
              class="rotate-180"
              viewBox="0 0 12 20"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M10.25 1.5L1.75 10L10.25 18.5"
                stroke="white"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"></path>
            </svg>
          </button>
        </div>
        <PageButton href="/services" text="View All Services" />
      </div>
    </header>
    <div class="divider"></div>
    <main class="flex flex-col-reverse md:flex-row items-center justify-between gap-10 pt-5 md:pt-16">
      <div class="md:w-1/2 rounded-3xl text-grey-50 flex flex-col gap-5">
        <h3 class="text-title3 flex items-center gap-2">
          EVENTS <PurpleLink href="#" />
        </h3>
        <p class="">
          Our event photography service is dedicated to capturing the magic of
          your special occasions. Whether it's a wedding, corporate event, or
          milestone celebration, we're there to document every heartfelt moment.
          We blend into the background, ensuring natural and candid shots that
          reflect the emotions of the day.
        </p>
        <div class="flex gap-6 flex-col">
          <p class="text-grey-80">Service Highlights</p>
          <ul class=" flex flex-col gap-4">
            <li class="flex items-center gap-5 p-3 border-2 rounded-xl">
              <Image src={Star} alt="star" class="" />
              Coverage for weddings, parties, corporate functions, and more.
            </li>
            <li class="flex items-center gap-5 p-3 border-2 rounded-xl">
              <Image src={Star} alt="star" class="" />
              Skilled photographers who know how to seize the moment.
            </li>
            <li class="flex items-center gap-5 p-3 border-2 rounded-xl">
              <Image src={Star} alt="star" class="" />
              A mix of candid and posed shots for a comprehensive story.
            </li>
            <li class="flex items-center gap-5 p-3 border-2 rounded-xl">
              <Image src={Star} alt="star" class="" />
              Quick turnaround for you to relive the day's highlights.
            </li>
          </ul>
        </div>
      </div>
      <div class="md:w-1/2">
        <Image src={EventImgae} class="w-full" alt="Event " />
      </div>
    </main>
  </article>
</Section>
