---
import { Image } from "astro:assets";
import EventImgae from "@assets/images/Imageevent.png";
import Star from "@assets/svg/list.svg";
import SectionHeader from "./ui/SectionHeader.astro";
import PurpleLink from "./ui/PurpleLink.astro";
import Section from "./ui/Section.astro";

---

<Section>
  <article>

      <SectionHeader title="SERVICES" heading="My Photography Services"  href="/services" text="View All Services" />
      
    <div class="divider"></div>
    <main class="flex flex-col-reverse xl:flex-row items-center justify-between gap-10 pt-5 xl:pt-16">
      <div class="xl:w-1/2 rounded-3xl text-grey-50 flex flex-col gap-5">
        <h3 class="text-title3 flex items-center gap-2">
          EVENTS <PurpleLink href="#" />
        </h3>
        <p class="">
          Our event photography service is dedicated to capturing the magic of
          your special occasions. Whether it's a wedding, corporate event, or
          milestone celebration, we're there to document every heartfelt moment.
          We blend into the background, ensuring natural and candid shots that
          reflect the emotions of the day.
        </p>
        <div class="flex gap-6 flex-col">
          <p class="text-grey-80">Service Highlights</p>
          <ul class=" flex flex-col gap-4">
            <li class="flex items-center gap-5 p-3 border-2 rounded-xl">
              <Image src={Star} alt="star" class="" />
              Coverage for weddings, parties, corporate functions, and more.
            </li>
            <li class="flex items-center gap-5 p-3 border-2 rounded-xl">
              <Image src={Star} alt="star" class="" />
              Skilled photographers who know how to seize the moment.
            </li>
            <li class="flex items-center gap-5 p-3 border-2 rounded-xl">
              <Image src={Star} alt="star" class="" />
              A mix of candid and posed shots for a comprehensive story.
            </li>
            <li class="flex items-center gap-5 p-3 border-2 rounded-xl">
              <Image src={Star} alt="star" class="" />
              Quick turnaround for you to relive the day's highlights.
            </li>
          </ul>
        </div>
      </div>
      <div class="xl:w-1/2">
        <Image src={EventImgae} class="w-full" alt="Event " />
      </div>
    </main>
  </article>
</Section>
